################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LinkedList/.vs/LinkedList/v16/Server/sqlite3
